<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <script type="text/javascript" src="/scripts/frameWorks/angular.min.js"></script>
    <script type="text/javascript" src="/scripts/frameWorks/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="/scripts/frameWorks/bootstrap.min.js"></script>
    <script type="text/javascript" src="/scripts/frameWorks/sockjs.min.js"></script>
    <script type="text/javascript" src="/scripts/frameWorks/stomp.min.js"></script>
    <script type="text/javascript" src="/scripts/socket.js"></script>
    <script type="text/javascript" src="/scripts/controller.js"></script>
    <title>Hello</title>
</head>
<body>
<div ng-app="myApp">
    <div ng-controller="messageController">
        <div>
            <div ng-repeat="chatMessage in room.chatMessages">
                <div>
                    {{chatMessage.sender}}
                </div>
                <div>
                    {{chatMessage.content}}
                </div>
            </div>
        </div>

        <div>
            <form>
                <input data-ng-model="chatMessage" name="message">message</input>
                <button ng-click="sendChatMessage()"></button>
            </form>
        </div>
    </div>
</div>
</body>


</html>