<head>
    <link rel="stylesheet" type="text/css" href="static/CSS/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="static/CSS/style.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
    <link rel='stylesheet prefetch' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css'>
    <script type="text/javascript" src="static/scripts/frameWorks/angular.min.js"></script>
    <script type="text/javascript" src="static/scripts/frameWorks/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="static/scripts/frameWorks/jquery.js"></script>
    <script type="text/javascript" src="static/scripts/frameWorks/bootstrap.min.js"></script>
    <script type="text/javascript" src="static/scripts/frameWorks/sockjs.min.js"></script>
    <script type="text/javascript" src="static/scripts/frameWorks/stomp.min.js"></script>
    <script type="text/javascript" src="static/scripts/controller.js"></script>
    <title>Hello</title>
</head>
<body ng-app="myApp">

    <div ng-controller="messageController" class="container">
    <div class="col-md-3">
        <div style="padding: 20px">
            LOGO
        </div>
        <div>
            <button ng-click="showRooms()">Rooms</button>
            <button ng-click="showPeople()">People</button>
        </div>
        <div class="search">
            <input type="text" placeholder="search" />
        </div>
        <div  ng-if="isPeopleListShown" class="people-list">
            <ul class="list">
                <li ng-repeat="member in room.members track by $index">
                <div class="about">
                    <div class="name">{{member}}</div>
                    <div class="status">
                        <i class="fa fa-circle online"></i> online
                    </div>
                </div>
                </li>
            </ul>
        </div>
        <div ng-if="isRoomListShown" class="people-list">
            <ul class="list">
                <li ng-repeat="room in rooms">
                    <div ng-click="changeRoom(room.id)">
                        <div class="name">{{room.name}}</div>
                        <div class="status">
                            {{room.members.length}} member
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div class="chat col-md-9">
      <div class="chat-header clearfix">

        <div ng-if="connectedRoomId != -1" class="chat-about">
          <div class="chat-with">{{room.name}}</div>
          <div class="chat-num-messages">already {{room.chatMessages.length}} messages</div>
        </div>
          <i class="fa fa-star"></i>
      </div> <!-- end chat-header -->
      
      <div id="chatHistory" class="chat-history">
        <ul>
          <li ng-repeat="chatMessage in room.chatMessages | limitTo:quantity" class="clearfix">
            <div ng-if="chatMessage.sender == userName">
              <div class="message-data align-right">
                <span class="message-data-time" >{{chatMessage.date * 1000 | date:'yyyy-MM-dd HH:mm:ss'}}</span> &nbsp; &nbsp;
                <span class="message-data-name" >{{chatMessage.sender}}</span>
                <!-- <i class="fa fa-circle me"></i> -->
              </div>
              <div class="message other-message float-right">
                {{chatMessage.content}}
              </div>
            </div>
            <div ng-if="chatMessage.sender != userName">
                <div class="message-data align-left">
                    <span class="message-data-name" >{{chatMessage.sender}}</span>
                    <span class="message-data-time" >{{chatMessage.date * 1000 | date:'yyyy-MM-dd HH:mm:ss'}}</span> &nbsp; &nbsp;
                    <!-- <i class="fa fa-circle me"></i> -->
                </div>
                <div class="message float-left">
                    {{chatMessage.content}}
                </div>
            </div>

          </li>

          </ul>

        </div> <!-- end chat-history -->
      
      <div class="chat-message clearfix">
          <form>
            <textarea data-ng-model="chatMessage" name="message-to-send" id="message-to-send" placeholder ="Type your message" rows="3"></textarea>
            <button ng-click="sendChatMessage()">Send</button>
          </form>
        <i class="fa fa-file-o"></i> &nbsp;&nbsp;&nbsp;
        <i class="fa fa-file-image-o"></i>

      </div> <!-- end chat-message -->
      
    </div> <!-- end chat -->
    
  </div> <!-- end container -->


</body>


